<%= @book.title%>

<p> Reviews </p>

<%=@reviews.each do |r| %>
<p><%=r.content%> by <%=r.user_id%> with rating: <%=r.rating%></p>
<%end%>
<p>Average rating: <%=@average_rating%></p>
<p>Highest rating: <%=@highest_rating%></p>
<p>Lowest rating: <%=@lowest_rating%></p>

<p><%=@review_with_highest_rating%> by <%=@reviewer_that_gave_highest_rating%></p>
